.Login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.LoginDiv {
    width: 240px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #232525;
    color: white;
    display: inline-block;
    border: 1px solid #888;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #ff6719;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#customBtn {
    display: inline-block;
    background: black;
    color: white;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

#customBtn:hover {
    cursor: pointer;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}